body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    padding-bottom: 200px;
}

html, body {
    background-color: #302121;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-bar {
    text-align: center;
    z-index: 1;
    position: relative;
}

.button-bar button {
    background-color: #5b4444;
    box-shadow: 5px 5px #000b;
    transition: background-color ease 500ms, box-shadow ease 500ms, filter ease 200ms;
    padding: 10px;
    min-width: 120px;
    margin: 8px;
    color: white;
    font-size: 20px;
    line-height: 20px;
    border: solid 1px black;
    height: 57px;
    text-align: center;
    justify-content: center;
    display: inline-flex;
}

.button-bar button:disabled {
    background-color: transparent;
    transition: background-color ease 500ms, box-shadow ease 500ms;
    color: #aaa;
    box-shadow: none;
}

@media (hover: hover) and (pointer: fine) {
    .button-bar button:disabled:hover {
        filter: none;
    }

    .button-bar button:hover {
        filter: contrast(150%);
    }
}

.button-bar .small {
    font-size: 15px;
    padding: 10px;
}

.active {
    background-color: #116262 !important;
    box-shadow: 8px 8px #111 !important;
    transition: background-color ease 500ms, box-shadow ease 500ms;
}

.icon {
    padding-right: 5px;
}

.icon,
.text {
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    line-height: 32px;
}

.timer {
    font-size: 100px;
    color: white;
    max-height: 500px;
    opacity: 1;
    transition: opacity 500ms ease, max-height 500ms ease;
    text-align: center;
}

.timer.hidden-timer {
    max-height: 0;
    opacity: 0;
    transition: opacity 500ms ease, max-height 500ms ease;
}

.grid {
    transition: filter ease 1s;
    filter: brightness(100%);
    text-align: center;
}

.die {
    background-color: #3a3a3a;
    width: 56px;
    height: 56px;
    font-size: 40px;
    line-height: 54px;
    display: inline-block;
    padding: 0px;
    margin: 5px;
    border: solid 2px black;
    text-transform: capitalize;
    color: white;
    box-shadow: 5px 5px #000b;
    transition: box-shadow 1s ease;
    text-shadow: -1px -1px black;
}

@media (min-width: 360px) {
    .die {
        padding: 10px;
        font-size: 56px;
    }

    .button-bar button {
        min-width: 160px;
        padding: 10px;
        font-size: 16px;
    }
}

@media (min-width: 412px) {
    .die {
        padding: 16px;
        font-size: 64px;
    }

    .button-bar button {
        min-width: 160px;
        padding: 10px;
        font-size: 20px;
    }

    .button-bar .small {
        font-size: 20px;
        padding: 10px;
    }
}

@media (min-width: 600px) {
}

.container {
    display: grid;
}

.hidden-symbol, .unhidden-symbol {
    grid-area: 1 / 1;
    opacity: 1;
    margin-left: -100px;
    margin-right: -100px;
    text-align: center;
}

.o-0 {
    opacity: 0;
}

.d-none {
    display: none;
}

.underline {
    text-decoration: underline;
}


.r-0 {
    transition: transform 450ms, opacity ease 200ms;
    transform: rotate(0deg);
}

.r-1 {
    transition: transform 200ms, opacity ease-in 200ms;
    transform: rotate(90deg);
}

.r-2 {
    transition: transform 250ms, opacity ease-out 200ms;
    transform: rotate(180deg);
}

.r-3 {
    transition: transform 300ms, opacity linear 200ms;
    transform: rotate(270deg);
}

.r-4 {
    transition: transform 350ms, opacity ease-out 200ms;
    transform: rotate(-90deg);
}

.r-5 {
    transition: transform 400ms, opacity ease 200ms;
    transform: rotate(-180deg);
}

.r-6 {
    transition: transform 450ms, opacity ease 200ms;
    transform: rotate(-270deg);
}

.blink {
    animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.game-over {
    transition: filter ease 1s;
    filter: brightness(40%) invert(20%) contrast(180%);
}

.game-over .die {
    filter: none;
    box-shadow: 5px 5px #0005;
    transition: box-shadow 1s ease;
}

.hypnotic-8 {
    width: 15px;
    min-height: 32px;
    display: grid;
    background: linear-gradient(currentColor 0 0) top/100% 2px,
    radial-gradient(farthest-side at top, #0000 calc(100% - 2px), currentColor calc(100% - 1px), #0000) top,
    linear-gradient(currentColor 0 0) bottom/100% 2px,
    radial-gradient(farthest-side at bottom, #0000 calc(100% - 2px), currentColor calc(100% - 1px), #0000) bottom;
    background-size: 100% 1px, 100% 50%;
    background-repeat: no-repeat;
    animation: h8 20s infinite linear;
}

.hypnotic-8::before,
.hypnotic-8::after {
    content: "";
    grid-area: 1/1;
    background: inherit;
    border: inherit;
    animation: inherit;
}

.hypnotic-8::after {
    animation-duration: 10s;
}

@keyframes h8 {
    100% {
        transform: rotate(1turn)
    }
}

.bars-10 {
    min-height: 32px;
    display: grid;
    aspect-ratio: 1;
    --c: conic-gradient(from -90deg, #fff 90deg, #fff0 0);
    background: var(--c), var(--c);
    background-size: 40% 40%;
    animation: b10 1.35s infinite;
}

@keyframes b10 {
    0%,
    20% {
        background-position: 0 0, 0 calc(100% / 3)
    }
    33% {
        background-position: 0 0, calc(100% / 3) calc(100% / 3)
    }
    66% {
        background-position: 0 calc(100% / 3), calc(100% / 3) 0
    }
    80%,
    100% {
        background-position: 0 calc(100% / 3), 0 0
    }
}